[submodule "Gruvbox-GTK-Theme"]
	path = Gruvbox-GTK-Theme
	url = https://github.com/Fausto-Korpsvart/Gruvbox-GTK-Theme.git
[submodule "Everforest-GTK-Theme"]
	path = Everforest-GTK-Theme
	url = https://github.com/Fausto-Korpsvart/Everforest-GTK-Theme.git
[submodule "Kanagawa-GKT-Theme"]
	path = Kanagawa-GKT-Theme
	url = https://github.com/Fausto-Korpsvart/Kanagawa-GKT-Theme.git
[submodule "Tokyo-Night-GTK-Theme"]
	path = Tokyo-Night-GTK-Theme
	url = https://github.com/Fausto-Korpsvart/Tokyo-Night-GTK-Theme.git
[submodule "wallpaper"]
	path = wallpaper
	url = https://github.com/dracula/wallpaper.git
